
/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #EDEFED;
  width: 100%;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #565A5C;
}

nav {
  opacity: 0.9;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  background-image: url("../img/kid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.flex-nav {
  padding: 10px;
  font-size: 13px;
  flex-wrap: wrap;
}

.flex-nav img, a{
  display: none;
}

.flex-nav i {
  font-size: 30px;
}

.toggleNav {
  font-size: 25px;
  margin-left: 10px;
}

li {
  display: inline;
  padding: 0px 5px;
}

li:first-child {
  border: 2px solid white;
  border-radius: 2px;
  padding: 6px 10px;
  margin-right: 10px;
}

.welcome {
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.welcome h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.welcome p {
  padding-bottom: 20px;
  font-weight: bolder;
}

.welcome img {
  display: none;
}

.input {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* INPUT BOXES */
.flex-form > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}

.flex-form input[type="submit"] {
  background:#FF5A5F;
  border-top: 1px solid #FF5A5F;
  border-bottom: 1px solid #FF5A5F;
  color:white;
}

.flex-form {
  z-index: 10;
  position: relative;
}

.flex-form > * {
  border:0;
  padding:5px;
  background:white;
  line-height:15px;
  font-size: 14px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.5);
}

.flex-form > *:last-child {
  border-right: 0;
}

/*Flexbox Starts Here*/
.input {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-form {
  display: flex;
  border: 25px solid rgba(0,0,0, 0.6);
  border-radius: 5px;
  flex: 1 1 100%;
  justify-content: center;
  width:100%;
}

input[type="search"] {
  flex-basis: 100%;
}
