
/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: #EDEFED;
  width: 100%;
  min-height: 100vh;
  font-family: 'Abel', sans-serif;
}

nav {
  background: white;
}

.flex-nav {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.flex-nav img{
  width: 130px;
  height: 40px;
  margin: 5px auto;
}

.toggleNav {
  font-size: 25px;
  margin-left: 10px;
}

ul {
  display: none;
}

.title {
  background-image: url("../img/kid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 33vh;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.welcome {
  text-align: center;
  padding-top: 50px;
}

.welcome h1 {
  font-size: 60px;
  text-transform: uppercase;
}

.welcome p {
  padding-bottom: 20px;
  font-weight: bolder;
}

.input {
  display: flex;
  justify-content: center;
}

.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:15px;
  font-size: 13px;
  border-radius:0;
  outline:0;
  -webkit-appearance:none;

}

.flex-form {
  display: flex;
}

input[type="search"] {
  display: flex;
  width: 90%;
}

/*.dates {
  display: none;
}*/

.start {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  background: white;
  margin-bottom: 94px;
  margin-top: 30px;
}

.bird {
  background-image: url("../img/bird.jpg");
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 23px;
}

.start img {
  max-width: 100%;
  height: 350px;
}

.startText {
  text-align: center;
  padding: 90px 20px 30px 20px;

}

.start span {
  font-size: 40px;
}

.start button {
  padding: 13px;
  margin: 10px;
}

.flex-column {
  text-align: center;
}

.flex-column p {
  padding-bottom: 40px;
}

.newYork {
  background-image: url("../img/newYork.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.juno {
  background-image: url("../img/juno.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bridge {
  background-image: url("../img/bridge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}






footer {
  width: 100%;
  height: 200px;
  background: #2B2D2E;
  margin-top: 40px;
}

button, [type="submit"]{
  background: #FF5A5F;
  border: #FF5A5F;
  padding: 10px;
  border-radius: 2px;
  color: white;
}

a {
  text-decoration: none;
  color: #FF5A5F;
}
